#main {
  width: 600px;
  height: 400px;
  border: 1px solid green;

  font-size: 40px;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#main > div {

}
